<%- include ./partials/header.ejs %>
<%- include ./partials/main_nav.ejs %>

<main class="container mt-4">
  <h1 class="mb-3">Contact</h1>

  <p>
    For queries, please reach out by email:
  </p>

  <p>
    Email:
    <a href="mailto:shayaan.qureshi@ontariotechu.net">shayaan.qureshi@ontariotechu.net</a>
  </p>
</main>

<%- include ./partials/footer.ejs %>