<%- include ./partials/header.ejs %>
<%- include ./partials/main_nav.ejs %>

<main class="container mt-4">
  <h1>Contact</h1>
  <p>For queries, please contact me at mailto:shayaan.qureshi@ontariotechu.net.</p>
</main>

<%- include ./partials/footer.ejs %>